<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.recommendation.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping> 

    <!-- Movie Fetch Servlet -->
    <servlet>
        <servlet-name>MovieServlet</servlet-name>
        <servlet-class>com.recommendation.controller.MovieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieServlet</servlet-name>
        <url-pattern>/MovieServlet</url-pattern>
    </servlet-mapping>
    
    <!-- Add Movie Servlet -->
    <servlet>
        <servlet-name>AddMovieServlet</servlet-name>
        <servlet-class>com.recommendation.controller.AddMovieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMovieServlet</servlet-name>
        <url-pattern>/AddMovieServlet</url-pattern>
    </servlet-mapping>

    <!-- Delete Movie Servlet -->
    <servlet>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <servlet-class>com.recommendation.controller.DeleteMovieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMovieServlet</servlet-name>
        <url-pattern>/DeleteMovieServlet</url-pattern>
    </servlet-mapping>

    <!-- Welcome file -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
